
<html>
<head>
	<title>WOTDS</title>
</head>
<body>


	<h1>We are responsible for these nodes:</h1>
	<table>
		{% for node in nodes %}
			{% if node.we_are_responsible %}
				<tr>
					<td><a href='{{ node.url }}'>{{ node }}</a> </td>
				</tr>
			{% endif %}
		{% endfor %}

	</table>

	<br/>
	<h1>Here is our data:</h1>

	{% for sensordata_collection in sensordata_collections %}
		<div>
				{{ sensordata_collection.description }}
				<br/>
				<table border="1">
					<tr>
						<td>Time</td>
						<td>Data</td>
					</tr>
					{% for datapoint in sensordata_collection.data_points %}
						<tr>
							<td>{{ datapoint.timestamp }}</td>
							<td>{{ datapoint.raw_data }}</td>
						</tr>
					{% endfor %}
				</table>
		</div>

	{% endfor %}

</body>

</html>
