<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node {{node_id}}</title>
</head>
<body>
    <h1>Node {{node_id}}</h1>
	OMG you can search for an ID!!!
	<form action="/closest_nodes" method="GET">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>
	<table border="1">
		{% for i, bucket in buckets %}
			<tr>
				<td>Bucket {{ i }}:</td>
				<td>
					{% for contact in bucket %}
						<div>
							<a href="http://{{contact}}">
								{{contact.node_id}}
							</a>
						</div>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>
